<!DOCTYPE html>
<html lang="pt-BR"> 
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/b775c270a3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
    
  <body>
    <section>
      <h1 class="game--title">Tic Tac Toe</h1>

      <h2 class="game-status hidden"></h2>

      <div class="game--container">
          <div data-cell-index="0 0" class="cell"></div>
          <div data-cell-index="0 1" class="cell"></div>
          <div data-cell-index="0 2" class="cell"></div>
          <div data-cell-index="1 0" class="cell"></div>
          <div data-cell-index="1 1" class="cell"></div>
          <div data-cell-index="1 2" class="cell"></div>
          <div data-cell-index="2 0" class="cell"></div>
          <div data-cell-index="2 1" class="cell"></div>
          <div data-cell-index="2 2" class="cell"></div>
      </div>
    
      <button id="restart" class="game--restart hidden">Restart Game</button>
    </section>

    <div class="modal hidden">
      <div class="modal-content">
        <h2>Escolha como jogar</h2>
     
        <select class="algorithm" id="menu-algorithm" selected="0">
          <option class="algorithm-option" value="0">Minimax</option>
          <option class="algorithm-option" value="1">Alphabeta</option>
        </select>
        
        <div class="radio-game">
          <div class="radio-game-input">
            <input type="radio" id="menu-option-1" name="menu-option" value="1" checked>
            <label for="menu-option-1">Player vs Computer</label>
          </div>

          <div class="radio-game-input">
            <input type="radio" id="menu-option-2" name="menu-option" value="2">
            <label for="menu-option-2">Computer vs Player</label>
          </div>

          <div class="radio-game-input">
            <input type="radio" id="menu-option-3" name="menu-option" value="3">
            <label for="menu-option-3">Computer vs Computer</label>
          </div>
        </div>

        <div class="modal-start">
          <button class="modal-start-button" id="start">Start</button>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-content">
        <div class="points">
          <div class="icon-points">
            <i class="fas fa-user"></i>
          </div>
          <div class="text-points">
            <p class="points-title">
              Jogador
            </p>
            <p class="value-player">
              0
            </p>
            <p class="percentage percentage-value-player">
              0.00%
            </p>
          </div>
        </div>

        <div class="points">
          <div class="icon-points">
            <i class="fas fa-handshake"></i>
          </div>
          <div class="text-points">
            <p class="points-title">
              Empatou
            </p>
            <p class="value-tied">
              0
            </p>
            <p class="percentage percentage-value-tied">
              0.00%
            </p>
          </div>
        </div>

        <div class="points">
          <div class="icon-points">
            <i class="fas fa-laptop"></i>
          </div>
          <div class="text-points">
            <p class="points-title">
              Computador
            </p>
            <p class="value-computer">
              0
            </p>
            <p class="percentage percentage-value-computer">
              0.00%
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="index.js"></script>
  </body>
</html>
