* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #121214;
    padding: 0;
    margin: 0;
}

section {
    text-align: center;
}

.fa-times {
    color: #8257E5;
}

.fa-circle {
    color: #04D361;
}

.game--title {
    text-align: center;
    font-size: 4.5em;
    color: #8257E5;
}

.game--container {
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    margin: 6% auto;
}

.cell {
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c7c8ca;
}

.cell:nth-child(-n+3) {
    border-top: none;
    border-bottom: none;
}

.cell:nth-child(1n + 1) {
    border-right: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(1n + 3) {
    border-bottom: none;
}

.cell i {
    font-size: 5em;
}

.game-status {
    margin-top: 20px;
    font-size: 30px;
    color: #04D361;
    font-weight: 700;
    text-transform: uppercase;
}

.game--restart {
    background-color: #04D361;
    padding: 10px 20px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
}


.modal {
    background-color: #303030D8;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-content {
    width: 45%;
    height: 45%;
    background-color: #121212;
    box-shadow: 0px 0px 30px 0px #00000073;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15%;
    padding: 1% 2%;
    color: #fff;
}

.modal h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    padding: 15px 0;
    color: #fff;
}

.algorithm {
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    border: none;
    margin-bottom: 12px;
    font-weight: 700;
}

.algorithm-option {
   border: none; 
    height: 200px;
}

.radio-game {
    margin-top: 15px;
    border-top: 4px solid #8257E5;
    padding-top: 10px; 
}

.radio-game-input{
    display: flex;
    align-items: center;
    padding: 10px;
}

input[type="radio"] {
   width: 18px;
   height: 18px;
   margin-right: 10px;
}

.modal-start{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-start-button{
    margin-top: 15%;
    width: 300px;
    padding: 8px;    
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #04D361;
    box-shadow: 0px 0px 30px 0px #8257E5;
    font-weight: 700;
    text-transform: uppercase;
}

.modal i {
    padding: 2% 5%;
    margin: 7% 2%;
    font-size: 7em;
}

.hidden {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 2%;
 }
 
.footer-content{
    border-radius: 10px;
    background-color: #8257E51A;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to right, #04D361 0%, #8257E5 100%);
    border-image-slice: 1; 
    display: flex;
    padding: 1%;
    width: 700px;
}

.points {
    color: #fff;
    min-width: 33.3333%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.icon-points {
    padding: 0 10px 0 0;
    margin: 0 10px;
    border-right: 2px solid #8257E5;
}

footer i {
    color: #8257E5;
    font-size: 2em;
}

.points-title {
    color: #8257E5;
    font-weight: 700;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.text-points {
    text-align: center;
}

.percentage {
    color: #04D361;
}
 
